// palette
$primaryColor: #311852;
$secondaryColor: #4d36dc;
$tertiaryColor: #ffdfed;
$fourthColor: #ff7a1f;
$fiveColor: #f7f0ff;
$sixColor: #8d829c;
$sevenColor: #fff9f5;
// fine palette

// gap
$cardGap: 24px;
$counterGap: 25px;
$worksGap: 20px;
$processGap: 10px;
$membersGap: 20px;
$sponsorGap: 20px;

// fine gap
