:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// reset

ul{
  list-style-type: none;
}

.btn{
  padding: 14px 34px;

  border-radius: 35px;

  text-align: center;
}

.btn.primary{
  border: 1px solid #ffdfed;
}

.btn.secondary{
  font-weight: normal;

  color: black;

  background-color: #ffdfed;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* regola generica per tutte le colonne */
[class*="col-"] {
  flex: 0 0 auto;
}

/* realizzazione selettori colonne */
.col-1 {
  /* width: calc(100% / 12); */
  flex-basis: calc((100% / 12));
  max-width: calc((100% / 12));
}

.col-2 {
  /* width: calc(100% / 12 * 2); */
  flex-basis: calc((100% / 12) *  2);
  max-width: calc((100% / 12) *  2);
}

.col-3 {
  /* width: calc(100% / 12 * 3); */
  flex-basis: calc((100% / 12) *  3);
  max-width: calc((100% / 12) *  3);
}

.col-4 {
  /* width: calc(100% / 12 * 4); */
  flex-basis: calc((100% / 12) *  4);
  max-width: calc((100% / 12) *  4);
}

.col-5 {
  /* width: calc(100% / 12 * 5); */
  flex-basis: calc((100% / 12) *  5);
  max-width: calc((100% / 12) *  5);
}

.col-6 {
  /* width: calc(100% / 12 * 6); */
  flex-basis: calc((100% / 12) *  6);
  max-width: calc((100% / 12) *  6);
}

.col-7 {
  /* width: calc(100% / 12 * 7); */
  flex-basis: calc((100% / 12) *  7);
  max-width: calc((100% / 12) *  7);
}

.col-8 {
  /* width: calc(100% / 12 * 8); */
  flex-basis: calc((100% / 12) *  8);
  max-width: calc((100% / 12) *  8);
}

.col-9 {
  /* width: calc(100% / 12 * 9); */
  flex-basis: calc((100% / 12) *  9);
  max-width: calc((100% / 12) *  9);
}

.col-10 {
  /* width: calc(100% / 12 * 10); */
  flex-basis: calc((100% / 12) *  10);
  max-width: calc((100% / 12) *  10);
}

.col-11 {
  /* width: calc(100% / 12 * 11); */
  flex-basis: calc((100% / 12) *  11);
  max-width: calc((100% / 12) *  11);
}

.col-12 {
  /* width: 100%; */
  flex-basis: calc((100% / 12) * 12);
  max-width: calc((100% / 12) * 12);
}


/* realizzazione offset colonne */

.offset-1 {
  margin-left: calc(100% / 12 * 1);
}

.offset-2 {
  margin-left: calc(100% / 12 * 2);
}

.offset-3 {
  margin-left: calc(100% / 12 * 3);
}

.offset-4 {
  margin-left: calc(100% / 12 * 4);
}

.offset-5 {
  margin-left: calc(100% / 12 * 5);
}

.offset-6 {
  margin-left: calc(100% / 12 * 6);
}

.offset-7 {
  margin-left: calc(100% / 12 * 7);
}

.offset-8 {
  margin-left: calc(100% / 12 * 8);
}

.offset-9 {
  margin-left: calc(100% / 12 * 9);
}

.offset-10 {
  margin-left: calc(100% / 12 * 10);
}

.offset-11 {
  margin-left: calc(100% / 12 * 11);
}

.offset-12 {
  margin-left: calc(100% / 12 * 12);
}

